PORT=3000
DATABASE_URL=postgresql://hireflow:hireflow_password@postgres:5432/hireflow
JWT_SECRET=b3e3f9a05e5561b33a735c17b2fdfc689483965d90b12cea52b83fced4abd6fa
JWT_EXPIRES_IN=7d
NODE_ENV=development
CORS_ORIGIN=http://localhost:8081
